@import "/css/fonts.css";
@import "/css/reset.css";
.primary {
  background-color: #0C0820;
  color: #FFFFFF;
}

.secondary {
  background-color: #005FF2;
  color: #FFFFFF;
}

.third {
  background-color: #3D9A3A;
  color: #FFFFFF;
}

.bg-1 {
  background-color: #F9FBFC;
}

.bg-2 {
  background-color: #EEF1FB;
}

.bg-3 {
  background-color: #E9F2FF;
}

.bg-4 {
  background-color: #FFE9F3;
}

.border {
  border: 1px solid #E1E1E1;
}

.text-primary {
  color: #0C0820;
}

.text-secondary {
  color: #005FF2;
}

.text-third {
  color: #3D9A3A;
}

.headline-20 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.headline-20.medium {
  font-weight: 500;
}

.headline-20.bold {
  font-weight: 700;
}

.headline-30 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
}

.headline-30.medium {
  font-weight: 500;
}

.headline-30.bold {
  font-weight: 700;
}

.headline-40 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 400;
}

.headline-40.medium {
  font-weight: 500;
}

.headline-40.bold {
  font-weight: 700;
}

.headline-52 {
  font-size: 52px;
  line-height: 60px;
  font-weight: 400;
}

.headline-52.medium {
  font-weight: 500;
}

.headline-52.bold {
  font-weight: 700;
}

.headline-70 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 400;
}

.headline-70.medium {
  font-weight: 500;
}

.headline-70.bold {
  font-weight: 700;
}

.text-14-24 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.text-14-24.medium {
  font-weight: 500;
}

.text-15-26 {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}

.text-15-26.medium {
  font-weight: 500;
}

.text-16-28 {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.text-16-28.medium {
  font-weight: 500;
}

.text-18-32 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

.text-18-32.medium {
  font-weight: 500;
}

.text-20-30 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.text-20-30.medium {
  font-weight: 500;
}

.headline-20 {
  font-size: var(--size-h20);
  line-height: var(--line-h20);
  font-weight: var(--font-regular);
}

.headline-20.medium {
  font-weight: var(--font-medium);
}

.headline-20.bold {
  font-weight: var(--font-bold);
}

header {
  position: fixed;
  width: calc(100% - 6rem);
  padding: 0rem 3rem;
  display: inline-flex;
  justify-content: space-between;
  transition: background-color 0.3s ease-in-out;
  height: 100px;
  align-items: center;
  z-index: 100;
}
header .left {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
}
header .left > span {
  color: #FFFFFF;
  font-family: "Bebas Neue";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.75px;
}
header .middle {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  flex: 1;
  text-align: center;
  justify-content: center;
}
header .middle nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .middle nav ul li {
  width: 120px;
  padding: 12px;
  border-radius: 50px;
  white-space: nowrap;
  font-feature-settings: "case" on;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
header .middle nav ul li:hover {
  background-color: #005FF2;
  transition: 0.3s ease-in-out;
}
header .middle nav ul li a {
  color: #FFFFFF;
}
header .middle nav ul img {
  width: 4rem;
  height: 4rem;
  background-color: #F9FBFC;
  border-radius: 50%;
}
header .right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
header .right a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
header .right a:hover {
  background-color: #005FF2;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
header .right .language-switcher {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
header .right .selected-lang {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: 2px solid transparent;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #FFFFFF;
}
header .right .selected-lang img {
  width: 24px;
  height: 24px;
}
header .right .language-options {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  width: 150px;
  z-index: 10;
}
header .right .language-options.show {
  display: flex;
}
header .right .lang-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border: none;
  background: none;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header .right .lang-btn img {
  width: 20px;
  height: 20px;
  border-radius: 8px;
}
header .right .lang-btn:hover {
  background: #005FF2;
  color: #FFFFFF;
  border-radius: 8px;
}

header.transparent {
  background-color: transparent;
  color: #FFFFFF;
}

/* Non-transparent header when scrolled */
header.scrolled {
  background-color: rgba(12, 8, 32, 0.5294117647);
  backdrop-filter: blur(7.5px);
}

.primary-button {
  display: inline-flex;
  padding: 20px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--Color-Secondary, #405FF2);
  background: var(--Color-Secondary, #405FF2);
  transition: 0.3s ease-in-out;
  color: #FFFFFF;
  cursor: pointer;
}

.primary-button:hover {
  background: #4E6CFB;
  transition: 0.3s ease-in-out;
}

.primary-button:focus {
  transition: 0.3s ease-in-out;
  border: 1px solid var(#005FF2, #405FF2);
  background: var(--White, #FFF);
  color: #0C0820;
}

.primary-button:disabled {
  cursor: default;
  border-radius: 12px;
  border: 1px solid var(#005FF2, #405FF2);
  background: rgba(78, 108, 251, 0.07);
}

.primary-button .nobg {
  border: none;
  background: transparent;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
  padding: 0px 12rem;
  background-color: #0C0820;
  max-width: none;
  box-sizing: content-box;
}
footer .newsletter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  max-width: 1400px;
  border-bottom: 2px solid hsla(0, 0%, 100%, 0.15);
}
footer .newsletter .left {
  display: flex;
  max-width: 450px;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  color: #FFFFFF;
}
footer .newsletter .left > span {
  color: #FFFFFF;
  font-family: "Bebas Neue";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.75px;
}
footer .newsletter .left > .info-buttons {
  display: flex;
  gap: 20px;
}
footer .newsletter .left > .info-buttons button {
  display: inline-flex;
  padding: 8px 30px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #FFFFFF;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
footer .newsletter .right {
  display: flex;
  flex: 1;
  max-width: 450px;
  gap: 30px;
  flex-direction: column;
  color: #FFFFFF;
}
footer .newsletter .right > .text-gap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .newsletter .right > .newsLetter-form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
footer .newsletter .right > .newsLetter-form > input {
  border-radius: 16px;
  padding: 20px 26px;
  opacity: 0.07;
  background: var(--White, #FFF);
}
footer .copyright {
  color: #FFFFFF;
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}
.slider .slider-info::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(12, 8, 32, 0.309), rgba(12, 8, 32, 0.526));
}
.slider .slider-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 3rem 0rem 12rem;
}
.slider .slider-info .slider-left {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 3rem;
  color: #FFFFFF;
  backdrop-filter: blur(1.5px);
  border-radius: 30px;
}
.slider .slider-info .slider-left .slider-top-info span:nth-child(1) {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
.slider .slider-info .slider-left .slider-top-info span:nth-child(3) {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.slider .slider-info .slider-right {
  display: flex;
  flex-direction: column;
  width: 16rem;
  max-width: 360px;
  gap: 3rem;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  padding: 3rem;
}
.slider .slider-info .slider-right .car-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: 0.5rem;
  color: #FFFFFF;
}
.slider .slider-info .slider-right .car-info .car-info-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.slider .slider-info .slider-right .white {
  background: #FFFFFF !important;
  color: #0C0820;
}
.slider .nav-buttons {
  position: absolute;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.slider .nav-arrows {
  cursor: pointer;
  width: 60px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}
.slider .nav-bullets {
  display: flex;
  gap: 0.5rem;
}
.slider .nav-bullet {
  height: 3px;
  width: 15px;
  border-radius: 10px;
  background-color: #FFFFFF;
  transition: width 0.3s ease-in-out;
  cursor: pointer;
}
.slider .nav-bullet.active {
  width: 30px;
  background-color: white;
}

.home-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0rem 3rem;
  height: 100%;
}
.home-section .body-style-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 6rem 6rem 3rem 6rem;
}
.home-section .body-style-container .image-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}
.home-section .body-style-container .image-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  flex: 1;
  max-width: 300px;
  justify-content: flex-end;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 30px;
}
.home-section .body-style-container .image-list li img {
  width: 10rem;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease-in-out;
}
.home-section .body-style-container .image-list li > img:hover {
  transform: scale(1.3);
}
.home-section .all-items-container {
  display: flex;
  flex-direction: column;
  margin: 0rem 6rem;
  gap: 4rem;
}
.home-section .all-items-container .items-header {
  display: flex;
  justify-content: space-between;
}
.home-section .all-items-container .items-header a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.home-section .all-items-container .filter {
  display: flex;
  gap: 1rem;
  height: 30px;
  border-bottom: 1px solid #E1E1E1;
}
.home-section .all-items-container .filter span {
  color: #0C0820;
  border-bottom: 2px solid #005FF2;
}
.home-section .all-items-container .items-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.home-section .all-items-container .car-card {
  display: flex;
  width: 580px;
  min-height: 320px;
  border-radius: 16px;
  overflow: hidden;
  color: #FFFFFF;
}
.home-section .all-items-container .car-card .car-image {
  width: 50%;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease-in-out;
}
.home-section .all-items-container .car-card .car-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5rem;
  gap: 1rem;
}
.home-section .all-items-container .car-card .car-content .car-title {
  font-size: 18px;
  font-weight: 600;
}
.home-section .all-items-container .car-card .car-content .car-description {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.home-section .all-items-container .car-card .car-content .car-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.home-section .all-items-container .car-card .car-content .car-info div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.home-section .all-items-container .car-card .car-content .car-info div img {
  width: 18px;
  height: 18px;
}
.home-section .all-items-container .car-card .car-content .car-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-section .all-items-container .car-card .car-content .car-footer a {
  color: #FFFFFF;
  text-decoration: underline;
}
.home-section .service-main {
  min-height: 520px;
  background-color: #F9FBFC;
  border-radius: 16px;
}
.home-section .service-main .service-container {
  display: flex;
  flex-direction: column;
  padding: 6rem 6rem 3rem 6rem;
  gap: 3rem;
}
.home-section .service-main .service-container .service-content {
  display: flex;
  gap: 3rem;
}
.home-section .service-main .service-container .service-content .services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
.home-section .service-main .service-container .service-content .services img {
  width: 50px;
  height: 60px;
}
.home-section .service-main .service-container .service-content .services span {
  color: #0C0820;
  inline-size: 80%;
}

/*# sourceMappingURL=style.css.map */
