@use '../variables' as *;

.home-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.slider{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    .slider-info::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, rgba(12, 8, 32, 0.309), rgba(12, 8, 32, 0.526));
      }
      
   
    .slider-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8rem 3rem 0rem 12rem;
      
        .slider-left{
            display: flex;
            flex-direction: column;
            max-width: 400px;
            gap: 3rem;
            color: $white;
            backdrop-filter: blur(1.5px);
            border-radius: 30px;
            .slider-top-info span:nth-child(1){
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 45px;
            }   
            .slider-top-info span:nth-child(3){
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
            }   
        
        }
        .slider-right{
            display: flex;
            flex-direction: column;
            width: 16rem;
            max-width: 360px;
            gap: 3rem;
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(7.5px);
            padding: 3rem ;

            .car-info{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: 100%;
                gap: 0.5rem;
                color: $white;
                .car-info-text{
                    display: flex;
                    flex-direction: column;
                    gap: 0.3rem;
                }
                
            }

            .white{
                background: $white !important; 
                color: $primary;
            }
        
        }
  
    }

    .nav-buttons {
        position: absolute;
        bottom: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .nav-arrows {
        cursor: pointer;
        width: 60px;
        height: 40px;
        border-radius: 30px;
        border: 1px solid $white;
        background-color: transparent;
        color: $white;
    }

    .nav-bullets {
        display: flex;
        gap: 0.5rem;
    }

    .nav-bullet {
        height: 3px;
        width: 15px;
        border-radius: 10px;
        background-color: $white;
        transition: width 0.3s ease-in-out;
        cursor: pointer;
    }

    .nav-bullet.active {
        width: 30px;
        background-color: white;
    }
   
}

.home-section{
    height: 100%;
    width: 100vw;
    .body-style-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        padding: 3rem 12rem 3rem 12rem;

    }
    .image-list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 100%;
      }
      
      .image-list li {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 8rem;
        flex: 1;
        max-width: 300px;
        justify-content: flex-end;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        border-radius: 30px;
        img{
            width: 10rem;
            background-size: cover;
            background-position: center;
            transition: 0.3s ease-in-out;

        }
      }
      .image-list li > img:hover{
        transform: scale(1.3); 
      }

    //   .image-list li:nth-child(1) { background-image: url('/assets/images/body-type-sedan.png'); }
    //   .image-list li:nth-child(2) { background-image: url('/assets/images/body-type-coupe.png'); }
    //   .image-list li:nth-child(3) { background-image: url('/assets/images/body-type-suv.png'); }
    //   .image-list li:nth-child(4) { background-image: url('/assets/images/body-type-truck.png'); }
    //   .image-list li:nth-child(5) { background-image: url('/assets/images/body-type-hatchback.png'); }
    //   .image-list li:nth-child(6) { background-image: url('/assets/images/body-type-minivan.png'); }

}

